{{ form_start(form) }}
    <div class="form-group">
        {{ form_row(form.reference) }}
    </div>
    <div class="form-group">
        {{ form_row(form.invite) }}
    </div>
    <div class="form-group">
        {{ form_row(form.invitePhone) }}
        <em style="font-size: 12px; color: darkred; font-weight:bold;">Le numero WhatsApp de votre invité</em>
    </div>
    {{ form_widget(form) }}
    {% if ticket.invite is null %}
        <div class="text-right">
            <button class="btn btn-primary">{{ button_label|default('form.btnSend'|trans) }}</button>
        </div>
    {% endif %}

{{ form_end(form) }}
