{% extends 'base.html.twig' %}
{% block title %}Participant {{ participant.prenoms }} {{ participant.nom }}{% endblock %}
{% block body %}
    <section class="bienvenue">
        <div class="container">
            <h2>Gala du Gouverneur Christophe KOREKI du 11 Juillet 2020
            </h2>
        </div>
    </section>
    <section class="profile">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <p>Attention ce code est à lecture unique. Assurez-vous qu'il ne soit pas en contact à un lecteur de code barre.</p>
                    {% for ticket in participant.tickets|slice(0,1) %}
                        <a href="{{ path('invite_download', {'reference': ticket.reference}) }}" title="Telechargez votre qrCode">
                            <img src="{{ asset('qrCode/'~ticket.reference~'.png') }}" alt="{{ participant.prenoms }} {{ participant.nom }}" class="rounded mx-auto d-block wow bounceInDown" width="300">
                        </a>

                    {% endfor %}

                    <div class="row">
                        <div class="col-6 wow bounceInLeft">
                            <div class="card">
                                <div class="card-header text-center">Places</div>
                                <div class="card-body">
                                    <div class="card-title text-center">{{ participant.nombreTicket}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 wow bounceInRight">
                            <div class="card">
                                <div class="card-header text-center">Montant total</div>
                                <div class="card-body">
                                    <div class="card-title text-center">{{ participant.montantTotal|number_format(0,'','.')}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if participant.tickets|length > 1 %}
                        <div class="row wow bounceInUp">
                            <div class="col" id="listeTickets">
                                <h4>Liste de vos tickets</h4>
                                <div class="table-responsive">
                                    <table class="table table-sm table-bordered">
                                        <thead>
                                        <tr class="table-primary text-center">
                                            <th scope="col">#</th>
                                            <th scope="col">Code</th>
                                            <th scope="col">Table</th>
                                            <th scope="col">Place</th>
                                            <th scope="col">Statut</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for ticket in participant.tickets %}
                                            <tr class="text-center">
                                                <th scope="row">{{ loop.index }}</th>
                                                <td>{{ ticket.reference }}</td>
                                                <td>{{ ticket.tabble ? ticket.tabble : '-' }}</td>
                                                <td>{{ ticket.place ? ticket.place : '-' }}</td>
                                                <td>{{ ticket.flag ? '<span class="badge badge-danger">Désactivé</span>' : '<span class="badge badge-success">Actif</span>' }}</td>
                                                <td>
                                                    {% if loop.index == 1 %}
                                                        {% if ticket.transfert %}
                                                            <a href="{{ path('invite_download', {'reference': ticket.reference}) }}" title="Telechargez votre qrCode"><i class="fa fa-download"></i></a>
                                                        {% endif %}
                                                    {% else %}
                                                        <a href="{{ path('invite_edit', {'reference': ticket.reference}) }}" title="Inviter par Whatsapp"><i class="fa fa-whatsapp"></i></a>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="list-group wow fadeInLeft">
                        <a href="#" class="list-group-item list-group-item-action active">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">{{ participant.prenoms}} {{ participant.nom }}</h5>
                                <small>Identité</small>
                            </div>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">{{ participant.club.nom }}</h5>
                                <small class="text-muted">Club</small>
                            </div>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">{{ participant.ville}}</h5>
                                <small class="text-muted">Ville</small>
                            </div>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">{{ participant.telephone}}</h5>
                                <small class="text-muted">Telephone</small>
                            </div>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">{{ participant.email}}</h5>
                                <small class="text-muted">Email</small>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}